.tweets-welcome-message {
  color: white;
  text-align: center;
  margin-top: 15px;
  visibility: visible;
}

.tweets-welcome-message h5 {
  margin-bottom: 0;
  padding: 10px;
}

.tweets-welcome-message p {
  font-size: 10px;
  padding: 10px;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #1c1c1c;
  margin-top: 20px;
}

.tweet-user-info {
  height: 30px;
  /* background-color: blue; */
}

.tweet-images-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.tweet-video-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  overflow: hidden;
}

.tweet-video-container video {
  width: 100%;
  height: 100%;
}

.tweet-image {
  background-image: url("https://images.unsplash.com/photo-1602412057301-0a870c9b3e54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  flex-basis: 50%;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.tweet-text-container {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.74);
}

.tweet-date-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #47525d;
  font-size: 10px;
}

.tweet-user-info {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.tweet-user-profile {
  width: 29px;
  height: 29px;
  background-color: white;
  border: 1px solid #979797;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.tweet-user-name-container {
  color: white;
  margin-left: 8px;
}

.tweet-user-fullname {
  font-size: 12px;
}

.tweet-user-username {
  font-size: 10px;
}
